$white: white;
$color1: #4D8A73;
$color2: #CC8E72;
$color2-accent: #E6B19A;
$color3: #CCAE72;
$color3-accent: #E6CC9A;
$color4: #526389;
$highlight: #D30068;

html, body { height: 100%; }

body {
  color: $white;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $white;
  text-decoration: none;
  padding-left: 4px;
  padding-right: 4px;
}

a:hover {
  background-color: $highlight;
}

section {
  min-height: 700px;
  margin: 0;
  width: 100%;
  &:nth-of-type(1) { background-color: $color1; }
  &:nth-of-type(2) { background-color: $color2; }
  &:nth-of-type(3) { background-color: $color3; }
  &:nth-of-type(4) { background-color: $color4; }
  position: relative;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 4%;
}

h1 {
  font-family: 'Yesteryear', sans-serif;
  font-size: 96px;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

@mixin plain-ul {
  ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }
}

/* -------- Hi -------- */
@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#salutation {
  @include plain-ul;
  .container {
    width: 50%;
    text-align: center;
    padding-top: 6%;
  }
  h1 {
    -webkit-animation: 1s appear ease-out;
    animation: 1s appear ease-out;
  }
  p {
    margin-top: 0;
  }
}

/* ------ About me ------ */
#about {
  font-size: 20px;
  h1 {
    padding-bottom: 3%;
  }
  p {
    margin-top: 0;
  }
  a {
    text-decoration: underline;
    padding: 0;
    &:hover {
      text-decoration: none;
    }
  }
}

#profile-photo {
  background: url('/images/profile_photo.png') center no-repeat;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  float: left;
  margin: 8px 32px 16px 0;
  opacity: 0.8;
}

/* ----- Projects ----- */

.project {
  display: none;
}

.project-selector {
  font-size: 20px;
  position: relative;

  input[type="radio"] {
    display: none;
  }

  .text-label {
    display: block;
    width: 25%;
    margin-left: 70%;
    padding: 6px;
    &:hover {
      background-color: $color3-accent;
      cursor: pointer;
    }
  }

  input[type="radio"]:checked + .project-group {
    .text-label {
      border: 1px solid $white;
      padding: 5px;
      background-color: $color3;
      cursor: default;
    }
    .project {
      width: 65%;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      h3 {
        margin: 8px 0 8px -2px;
      }
      p {
        margin-top: 0;
      }
      .screenshot {
        width: 100%;
        max-height: 245px;
        margin: 0;
        opacity: 0.9;
        &:hover {
          opacity: 1;
        }
      }
      a:hover {
        background-color: $color3;
      }
      h3 a:hover {
        background-color: $highlight;
      }
    }
  }
}

/* ----- Contact ----- */

#contact {
  @include plain-ul;
  text-align: center;
  i {
    margin-right: 8px;
    text-decoration: none;
  }
  h1 {
    margin-bottom: 4%;
  }
}

/* ----- Scroll ----- */
@media only screen and (min-width: 671px) {
  section {
    position: absolute;
    &:nth-of-type(1) {
      height: 700px;
      z-index: 1;
    }
    &:nth-of-type(2) {
      top: 700px;
      z-index: 2;
    }
    &:nth-of-type(3) {
      top: 1400px;
      z-index: 3;
    }
    &:nth-of-type(4) {
      top: 2100px;
      z-index: 4;
    }
  }

  section.background {
    position: fixed;
    @for $i from 1 to 5 {
      &:nth-of-type(#{$i}) {
        top: #{($i - 1) * 14}px;
      }
    }
  }
}
/* ---- Blinking arrow ----- */

$stem-height: 80px;
$stem-width: 3px;
$pointer-width: 3px;
$pointer-space: 20px;

.arrow {
  width: $stem-width;
  height: $stem-height;
  margin: 25% auto;
  border-radius: 3px;
  background-color: white;
  background: linear-gradient(to bottom, rgba(255,255,255,0), white 75%);
  -webkit-animation: 3s soft-blink 3s infinite alternate;
  animation: 3s soft-blink 3s infinite alternate;
  position: relative;
  opacity: 0;
}

@-webkit-keyframes soft-blink {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}

@keyframes soft-blink {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}

.arrow:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: - ($pointer-space + $stem-width) / 2;
  border-bottom: $pointer-width solid white;
  border-right: $pointer-width solid white;
  border-top: $pointer-width solid transparent;
  border-left: $pointer-width solid transparent;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ----- Codepen icon ------ */
.logo {
  width: 30px; /* required to center */
  height: 25px;
  text-align: center;
}
.inner-box {
  fill: white;
  -webkit-transform: scale(0.3) translateY(-10px) translateX(-22px);
  transform: scale(0.3) translateY(-10px) translateX(-22px);
}

/* ----- Small screens ------ */
@media only screen and (max-width: 670px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  section {
    padding-bottom: 60px;
  }

  #salutation {
    position: relative;
    min-height: 400px;
  }

  .arrow {
    display: none;
  }

  h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 72px;
  }

  #profile-photo {
    display: block;
    float: none;
    width: 180px;
    margin: 0 auto 20px auto;
  }

  #projects {
    h1 {
      padding-bottom: 0;
    }
    .project {
      width: 92%;
    }
    .text-label {
      display: none;
    }
    .graphic-label {
      margin-top: 20px;
      margin-left: 94%;
      display: block;
      width: 10px;
      height: 10px;
      border: 1px solid white;
      border-radius: 50%;
    }
    input[type="radio"]:checked + .project-group {
      .graphic-label {
        background-color: white;
      }

      .screenshot {
        width: 90%;
      }
    }
  }

  #contact {
    min-height: 400px;
  }
}
