html, body {
  height: 100%; }

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px; }

a {
  color: white; }

a:hover {
  background-color: #ff0066;
  text-decoration: none; }

section {
  min-height: 768px;
  margin: 0; }
  section:nth-of-type(1) {
    background-color: #4d8a73; }
  section:nth-of-type(2) {
    background-color: #cc8e72; }
  section:nth-of-type(3) {
    background-color: #ccae72; }
  section:nth-of-type(4) {
    background-color: #526389; }

.container {
  width: 60%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 4%; }

h1 {
  font-family: 'Yesteryear', sans-serif;
  font-size: 96px;
  font-weight: normal;
  margin: 0;
  padding-left: 10px;
  display: inline-block;
  width: 100%; }

/* -------- Hi -------- */
@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(10px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@keyframes appear {
  0% {
    transform: translateY(-10px);
    opacity: 0; }

  100% {
    transform: translateY(0);
    opacity: 1; } }

#salutation {
  position: relative; }
  #salutation .container {
    padding-top: 5%; }
  #salutation h1 {
    -webkit-animation: 1s appear ease-out;
    animation: 1s appear ease-out; }
  #salutation p {
    margin-top: 0; }

/* ------ About me ------ */
#dict-entry {
  margin-top: 1em; }

#pronunciation-guide {
  letter-spacing: 1px; }

#profile-photo {
  background: url("/images/profile_photo.png") no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  float: left;
  margin: 1em 64px 16px 0; }

.footer {
  padding: 8px 0;
  text-align: center; }

.footer a {
  margin-right: 12px; }

/* ----- Projects ----- */
.project {
  display: none; }

.project-selector {
  position: relative; }
  .project-selector input[type="radio"] {
    display: none; }
  .project-selector label {
    display: block;
    width: 20%;
    margin-right: 100%; }
    .project-selector label:hover {
      background-color: #d1977d; }
  .project-selector input[type="radio"]:checked + .project-group label {
    background-color: #be7d5f; }
  .project-selector input[type="radio"]:checked + .project-group .project {
    width: calc(80% - 20px);
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0; }
    .project-selector input[type="radio"]:checked + .project-group .project .screenshot {
      width: 100%; }
