html, body {
  height: 100%; }

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  -webkit-font-smoothing: antialiased; }

a {
  color: white;
  text-decoration: none;
  padding-left: 4px;
  padding-right: 4px; }

a:hover {
  background-color: #d30068; }

section {
  min-height: 700px;
  margin: 0;
  width: 100%;
  position: relative; }
  section:nth-of-type(1) {
    background-color: #4d8a73; }
  section:nth-of-type(2) {
    background-color: #cc8e72; }
  section:nth-of-type(3) {
    background-color: #ccae72; }
  section:nth-of-type(4) {
    background-color: #526389; }

.container {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 4%; }

h1 {
  font-family: 'Yesteryear', sans-serif;
  font-size: 96px;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center; }

/* -------- Hi -------- */
@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(10px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@keyframes appear {
  0% {
    transform: translateY(10px);
    opacity: 0; }

  100% {
    transform: translateY(0);
    opacity: 1; } }

#salutation ul {
  list-style: none;
  text-align: center;
  padding: 0; }
#salutation .container {
  width: 50%;
  text-align: center;
  padding-top: 6%; }
#salutation h1 {
  -webkit-animation: 1s appear ease-out;
  animation: 1s appear ease-out; }
#salutation p {
  margin-top: 0; }

/* ------ About me ------ */
#about {
  font-size: 20px; }
  #about h1 {
    padding-bottom: 3%; }
  #about p {
    margin-top: 0; }
  #about a {
    text-decoration: underline;
    padding: 0; }
    #about a:hover {
      text-decoration: none; }

#profile-photo {
  background: url("/images/profile_photo.png") center no-repeat;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  float: left;
  margin: 8px 32px 16px 0;
  opacity: 0.8; }

/* ----- Projects ----- */
.project {
  display: none; }

.project-selector {
  font-size: 20px;
  position: relative; }
  .project-selector input[type="radio"] {
    display: none; }
  .project-selector .text-label {
    display: block;
    width: 25%;
    margin-left: 70%;
    padding: 6px; }
    .project-selector .text-label:hover {
      background-color: #e6cc9a;
      cursor: pointer; }
  .project-selector input[type="radio"]:checked + .project-group .text-label {
    border: 1px solid white;
    padding: 5px;
    background-color: #ccae72;
    cursor: default; }
  .project-selector input[type="radio"]:checked + .project-group .project {
    width: 65%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; }
    .project-selector input[type="radio"]:checked + .project-group .project h3 {
      margin: 8px 0 8px -2px; }
    .project-selector input[type="radio"]:checked + .project-group .project p {
      margin-top: 0; }

.screenshot {
  width: 100%;
  max-height: 245px;
  margin: 0;
  opacity: 0.9; }
  .screenshot:hover {
    opacity: 1; }

.img-link:hover {
  background-color: #ccae72; }

.bauble-link {
  text-decoration: underline;
  margin-left: -2px; }
  .bauble-link:hover {
    text-decoration: none; }

/* ----- Contact ----- */
#contact {
  text-align: center; }
  #contact ul {
    list-style: none;
    text-align: center;
    padding: 0; }
  #contact i {
    margin-right: 8px;
    text-decoration: none; }
  #contact h1 {
    margin-bottom: 4%; }

/* ----- Scroll ----- */
@media only screen and (min-width: 671px) {
  section {
    position: absolute; }
    section:nth-of-type(1) {
      height: 700px;
      z-index: 1; }
    section:nth-of-type(2) {
      top: 700px;
      z-index: 2; }
    section:nth-of-type(3) {
      top: 1400px;
      z-index: 3; }
    section:nth-of-type(4) {
      top: 2100px;
      z-index: 4; }

  section.background {
    position: fixed; }
    section.background:nth-of-type(1) {
      top: 0px; }
    section.background:nth-of-type(2) {
      top: 14px; }
    section.background:nth-of-type(3) {
      top: 28px; }
    section.background:nth-of-type(4) {
      top: 42px; } }
/* ---- Blinking arrow ----- */
.arrow {
  width: 6px;
  height: 80px;
  margin: 25% auto;
  border-radius: 3px;
  background-color: white;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 75%);
  -webkit-animation: 3s soft-blink 4s 8 alternate;
  animation: 3s soft-blink 4s 8 alternate;
  position: relative;
  opacity: 0; }

@-webkit-keyframes soft-blink {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 0.8; } }

@keyframes soft-blink {
  0% {
    opacity: 0; }

  50% {
    opacity: 0; }

  100% {
    opacity: 0.8; } }

.arrow:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -13px;
  border-bottom: 6px solid white;
  border-right: 6px solid white;
  border-top: 6px solid transparent;
  border-left: 6px solid transparent;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

/* ----- Codepen icon ------ */
.logo {
  width: 30px;
  /* required to center */
  height: 25px;
  text-align: center; }

.inner-box {
  fill: white;
  -webkit-transform: scale(0.3) translateY(-10px) translateX(-22px);
  transform: scale(0.3) translateY(-10px) translateX(-22px); }

/* ----- Small screens ------ */
@media only screen and (max-width: 670px) {
  .container {
    width: 90%;
    margin: 0 auto; }

  section {
    padding-bottom: 60px; }

  #salutation {
    position: relative;
    min-height: 400px; }

  .arrow {
    display: none; }

  h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 72px; }

  #profile-photo {
    display: block;
    float: none;
    width: 180px;
    margin: 0 auto 20px auto; }

  #projects h1 {
    padding-bottom: 0; }
  #projects .project {
    width: 92%; }
  #projects .text-label {
    display: none; }
  #projects .graphic-label {
    margin-top: 20px;
    margin-left: 94%;
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%; }
  #projects input[type="radio"]:checked + .project-group .graphic-label {
    background-color: white; }
  #projects input[type="radio"]:checked + .project-group .screenshot {
    width: 90%; }

  #contact {
    min-height: 400px; } }
