html, body {
  height: 100%; }

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  -webkit-font-smoothing: antialiased; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  background-color: #ff0066; }

section {
  min-height: 768px;
  margin: 0; }
  section:nth-of-type(1) {
    background-color: #4d8a73; }
  section:nth-of-type(2) {
    background-color: #cc8e72; }
  section:nth-of-type(3) {
    background-color: #ccae72; }
  section:nth-of-type(4) {
    background-color: #526389; }

.container {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 4%; }

h1 {
  font-family: 'Yesteryear', sans-serif;
  font-size: 96px;
  font-weight: normal;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 10px;
  display: inline-block;
  width: 100%;
  text-align: center; }

/* -------- Hi -------- */
@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(10px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@keyframes appear {
  0% {
    transform: translateY(-10px);
    opacity: 0; }

  100% {
    transform: translateY(0);
    opacity: 1; } }

#salutation {
  position: relative; }
  #salutation .container {
    padding-top: 5%;
    width: 50%;
    text-align: center; }
  #salutation ul {
    list-style: none;
    text-align: center;
    padding: 0; }
  #salutation h1 {
    -webkit-animation: 1s appear ease-out;
    animation: 1s appear ease-out; }
  #salutation p {
    margin-top: 0; }

/* ------ About me ------ */
#dict-entry {
  margin-top: 1em; }

#pronunciation-guide {
  letter-spacing: 1px; }

#profile-photo {
  background: url("/images/profile_photo.png") no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  float: right;
  margin: 1em 0 16px 32px; }

.footer {
  padding: 8px 0;
  text-align: center; }

.footer a {
  margin-right: 12px; }

/* ----- Projects ----- */
.project {
  display: none; }

.project-selector {
  font-size: 20px;
  position: relative; }
  .project-selector input[type="radio"] {
    display: none; }
  .project-selector label {
    display: block;
    width: 20%;
    margin-right: 80%;
    padding: 6px; }
    .project-selector label:hover {
      background-color: #d1977d; }
  .project-selector input[type="radio"]:checked + .project-group label {
    border: 1px solid white;
    padding: 5px;
    background-color: #cc8e72; }
  .project-selector input[type="radio"]:checked + .project-group .project {
    width: 70%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0; }
    .project-selector input[type="radio"]:checked + .project-group .project .screenshot {
      width: 100%;
      max-height: 270px;
      margin: 0;
      opacity: 0.9; }
      .project-selector input[type="radio"]:checked + .project-group .project .screenshot:hover {
        opacity: 1; }
    .project-selector input[type="radio"]:checked + .project-group .project a:hover {
      background-color: #cc8e72; }
    .project-selector input[type="radio"]:checked + .project-group .project h3 a:hover {
      background-color: #ff0066; }

.project-points {
  padding-left: 22px; }

/* ----- Contact ----- */
#contact .container {
  padding-top: 5%;
  width: 50%;
  text-align: center; }
#contact ul {
  list-style: none;
  text-align: center;
  padding: 0; }
#contact i {
  margin-right: 8px;
  text-decoration: none; }
