---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Professional site of Chris Laubacher, full-stack Ruby on Rails, HTML, CSS, and JavaScript developer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Yesteryear|Open+Sans:400italic,400,700italic,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <title>{{ page.title }}</title>
  <!--
          :::    ::::::::::::::::   :::
         :+:    :+::+:       :+:   :+:
        +:+    +:++:+        +:+ +:+
       +#++:++#+++#++:++#    +#++:
      +#+    +#++#+          +#+
     #+#    #+##+#          #+#
    ###    #############   ###
      ::::::::::::::    :::::::::::::::::::::: ::::::::::
         :+:    :+:    :+::+:       :+:    :+::+:
        +:+    +:+    +:++:+       +:+    +:++:+
       +#+    +#++:++#+++#++:++#  +#++:++#: +#++:++#
      +#+    +#+    +#++#+       +#+    +#++#+
     #+#    #+#    #+##+#       #+#    #+##+#
    ###    ###    ################    #############

    Check out this sweet vid: http://www.youtube.com/watch?v=ESy-Z8vqMrE
    Then when you're done, send me a shout: claubacher@gmail.com
  -->
</head>
<body>
  {{ content }}
</body>
</html>
